{% extends 'base.html' %} {% block homepages %}
<div class="container-fluid callout-container">
    <!-- Callout -->
    <div class="row main-section">
        <div class="col-xs-12 main-section">
            <section style="background-image: url('/media/home-page.jpg')" class="callout jumbotron text-center">
                <h1>World leader in innovative, software solutions</h1>
                <hr class='block-divider block-divider--orange'>
                <p class="lead">Sign up to and join our vast community to share bugs and suggest new features!</p>
                <p><a class="btn btn-lg btn--cta btn--red" href="{% url 'register' %}">Sign Up!</a></p>
                <p class="text-muted"><small>We will not share your email with anyone else.</small></p>
            </section>
        </div>
    </div>
</div>
<!-- /.callout -->

<div class="container-wrapper container-wrapper--red">
    <div class="container features-container content-container">
        <!-- Features -->
        <section class="features">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h2 class="text-uppercase common-headers">What can we offer?</h2>
                        <hr class="block-divider block-divider--short block-divider--white">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6 col-lg-6">
                    <div class="feature">
                        <h3 class="common-headers"><span class="glyphicon glyphicon-user hidden-xs"></span> Online Community <span class="label label-warning">New!</span></h3>
                        <p>
                            Our new online community allows users to share bugs, suggest new features and talk to fellow developers using our software!
                        </p>
                        <p><a class="btn btn-lg btn--cta btn--red btn-sm" href="{% url 'graphs' %}">Read more</a></p>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-6">
                    <div class="feature">
                        <h3 class="common-headers"><span class="glyphicon glyphicon-question-sign hidden-xs"></span> About Us</h3>
                        <p>
                            New to this website. Read more to find out what we do!
                        </p>
                        <p><a class="btn btn-lg btn--cta btn--red btn-sm" href="{% url 'register' %}">Read more</a></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.features -->
    </div>
</div>

{% endblock %}
