{% extends 'base.html' %} {% block content %}

<div class="row row-flex">
    {% for feature in features %}

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
                <h3>{{ feature.name }}</h3>
                <p class="product-description">{{ feature.description }}</p>
                <p><a href="{% url 'feature_detail' feature.id %}" class="btn btn-default">Read more</a></p>
                <p>Status: {{ feature.status }}</p>
                <p>Views: {{ feature.views }}</p>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Upvote</button>
                     </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
