{% extends "base.html" %} {% load bootstrap_tags %} {% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <h3>{{ feature.title }}</h3>
        <div class="row">
            <h4>Stage of development: {{ feature.status }}</h4>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>{{ feature.description }}</p>
                <p><span class="boldtext">Upvotes:</span> {{ feature.upvotes }} </p>
                <p><span class="boldtext">Views:</span> {{feature.views}}</p>
                <h5><span class="boldtext">Author: </span>{{ feature.author }}</h5>
                <a href="{% url 'features' %}" class="btn btn-success">Back</a>
                <hr>
            </div>
        </div>
        {% if comments %}
        <div class="row">
            <h4>Comments <span style="color:black; font-size:15px;">({{ comments_total }})</span></h4>
        </div>
         <div class="row">
            {% for comment in comments %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>{{ comment.author }}</h5>
                    <p> {{ comment.description }} </p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="row">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %} {{ form | as_bootstrap }}
                <button type="submit" class="btn btn-info">Add comment</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
